<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset='utf-8'>
  </head>
  <body>
    <div id="content">
      <header>
      <hgroup>
      <h1>Trainees</h1>
      </hgroup>
      </header>
      <nav>
      <ul>
        <li>inicio</li>
        <li>tutoriales</li>
        <li>Contacto</li>
        <li>Media</li>
      </ul>
      </nav>
      <section>
    </div>
    <div id="textPr">
      <article>
      <hgroup>
      <h1>Welcome to trainees room</h1>
      </hgroup>
      <p>this page has a record of all trainees of tango source</p>
      </article>
       <aside>
        <p>visit <a href="www.tangosource.com">tango source</p>
       </aside>
      </div>
    </body>
  </html>
